.container1{
	float: left;
	width: 100%;
	/*min-height: 100%;*/
}
/*comment start*/
.comment{
	height: 840px;
	position: relative;
    width: 850px;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
    /*-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);*/
    /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    /* FF3.5 - 3.6 */
    /*box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);*/
    /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    -webkit-border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
}
.comment:before,.comment:after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
    zoom: 1
}
body,div,dl,dt,dd,ul,ol,li{
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serief;
	
}
a{text-decoration:none;outline:none; color:#666666;}
a:hover{text-decoration:none}

.comment-in{
	display: inline;
	float: left;
	padding: 10px;
}
 #comment {
	width: 100%; 
	height: 405px; 
	overflow: hidden; 
	/*border: 3px #666666 solid; */
	margin-top: -670px;
	margin-left: 3.5%;
	margin-bottom: 0px;
}
.comment-img{
	margin-top: 20px;
	width: 850px;
}
.comment-title{
	margin-top: 10px;
	text-align: center;
	margin-bottom: 0;
}
.title-top{
	font-size: 50px;
	font-family: Arial;
	font-weight: 400;
	line-height: normal;
	color: #333333;
}
.title-hr{
	border-top: 3px solid #FFCC00;
	width: 16%;
}
#comment-ul{
	line-height: 1.5em;
	width: 650px;
	margin-left: 10px;
}
#comment-ul li{
	border-bottom: #e6e6e6 1px dashed;
	padding-bottom: 10px;
	margin-bottom: 10px;
	height: 100px;
	overflow: hidden;
}
.li-img{
	width: 48px;
	height: 48px;
	border: #ccc 1px solid;
	padding: 2px;
	text-align: center;
	display: inline;
	float: left;
}
.li-text{
	width: 550px;
	height: 70px;
	overflow: hidden;
	padding-right: 10px;
	display: inline;
	float: right;
	line-height: 22px;
	padding-left: 25px;
	background: url(../images/quote-grey.jpg) no-repeat 0px 0px;
	color: #666666;
	font-size: 12px;
}
.li-from{
	text-align: right;
	width: 100%;
	height: 20px;
	padding: 5px 0 10px 0;
	line-height: 24px;
	clear: both;
}


/*comment end*/

/*contact start*/
.contact-hr{
	border-top: 3px solid #7F8C8D;
	width: 80%;
	margin-top: 40px;
	margin-bottom: 40px;
}
.contact{
	height: 400px;
	width: 100%;
	margin-bottom: 50px;
}
.contact-left,.contact-right{
	float: left;
	width: 26%;
	height: 100%;
	margin-left: 3%;
}
.contact-center{
	float: left;
	width: 35%;
	margin-left: 3%;
}
.left-info{
	width: 80%;
}
.left-contact{
	margin: 20px 0;
}
.left-logo{
	margin-left: 5%;
}
.left-logo i{
	margin: 0 5px;
	float: left;
}

/*微信二维码弹窗*/
.w {
padding:0;
}
.w .x .fa {
position:relative;
margin:0 5px;
font-size:30px;
}
.w .x .fa .s {
position:absolute;
display:none;
margin-left:-50px;
left:50%;
bottom:130%;
width:150px;
height:150px;
background-color:#fff;
box-shadow:0 2px 4px rgba(0,0,0,.5);
}
.w .x .fa .s img {
width:100%;
}
.w .x .fa:hover .s {
display:block;
}

/*arrow*/
/*.s::after{
	content: '';
	top: 100%;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: rgba(0,0,0,.5);
	border-width: 10px;
	margin-left: -10px;
}*/

.left-beian{
	clear: both;
	margin-top: 20px;
}
.beian-img{
	width: 20px;
	height: 20px;
	margin: -5px 0;
}

.center-body{
	float: left;
}
.body-name,.body-email,.body-content{
	width: 100%;
	float: left;
	margin-top: 15px;
}
.name-text,.email-text,.content-text{
	float: left;
	font-size: 18px;
}
.name-input,.email-input{
	border-radius: 5px;
	border: none;
	border-color: transparent;
	font-size: 17px;
	text-indent: 3px;
	width: 35%;
	float: right;
	margin-right: 50%;
	background-color: #F8F8FF;
}
.name-input,.email-input:focus {
	border-color: #1abc9c;
}
.content-input{
	border-radius: 10px;
	width: 280px;
	min-height: 200px;
	max-width: 350px;
	max-height: 260px;
	font-size: 17px;
	text-indent: 3px;
	border-color: transparent;
	background-color: #F8F8FF;
}
.info-title,.contact-title,.center-title,.right-title{
	font-family: "微软雅黑";
	font-size: 180%;
	font-weight: normal;
}
.name-text,.email-text{
	display: inline-block;
}

.center-send{
	width: 100%;
	float: left;
}
.send-button{
	float: right;
	background-color: #FF0000;
	color: #FFFFFF; 
	width: 30%;
	height: 30px;
	margin-right: 20%;
	margin-top: 10px;
    outline: none;  
    cursor: pointer;  
    text-align: center;  
    text-decoration: none;        
    border-radius: .5em;  
    border: none;  
}

.right-map{
	width:85%;
	height:75%;
	border:#ccc solid 1px;
}
.right-button{
	float: right;
	float: right;
	background-color:#20B2AA;
	color: #FFFFFF; 
	width: 30%;
	height: 30px;
	margin-top: 10px;
    outline: none;  
    cursor: pointer;  
    text-align: center;  
    text-decoration: none;        
    border-radius: .5em;  
    border: none; 
}
/*contact end*/

/*footer start*/
.index-footer{
	background-color: #000000;
	height: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer-text{
	text-align: center;
	color: #FFF;
	padding-top: 10px;
}
/*footer end*/
